.container{
	width:90%;
	margin:auto;
}
body{
	font-family:sans-serif;
	background-color:#f5f5f5;
}
@media (min-width:320px){
	/* nav start */
.nav-img{
	background-image:url("img/saran1.jpg"); 
	background-size:cover;
	background-attachment:fixed;
	height:80vh;
}
.nav-lists{
	display:none;
}
.nav{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-top:1rem;
	color:white;
}
.nav-head h1{
	font-size:1.8rem;
}
.burger{
	font-size:1.5rem;
}
.img-content h1{
	color:white;
	font-size:2.5rem;
	text-align:center;
	margin-top:2rem;
}
.img-content h3{
	color:white;
	font-size:1.5rem;
	text-align:center;
	margin-top:1.5rem;
}
   /* nav end */
   /* about start */
.abt{
	margin-top:4rem;
	margin-bottom:4rem;
}
.about{
   background-color:#fff;
   padding:1rem;
}
.abtImg{
	line-height:3rem;
}
.abtImg span{
	font-weight:700;
}
.abtImg img{
   border-radius:10px;
}
.abtSkill{
	line-height:2rem;
}
.abtSkill p{
	font-size:1.2rem;
}
.abtCont h1{
	margin-top:2rem;
	font-size:1.8rem;
}
.abtCont h1::after{
	content:"";
	height:3px;
	width:40%;
	margin-top:.7rem;
	line-height:1;
	background-color:blue;
	display:block;
}
.abtCont p{
	font-size:1.3rem;
	margin-top:2rem;
	line-height:2rem;
	color:#AF6F8C;
}
.abtImg img{
	width:50%;
}
   /* about end */


}
@media (min-width:768px){
	/* nav start */
.img-content h1{
	font-size:4.5rem;
}
.img-content h3{
	font-size:3rem;
}
	/* nav end */
	/* about start */
.abtImgcont{
	width:50%;
} 
.abtCont{
	width:50%;
}
.about{
	display:flex;
}
.abtImg{
	display:flex;
}
	

	
	
}
@media (min-width:1024px){
   /* nav start */
.nav-img{
	background-image:url("img/saran1.jpg"); 
	background-size:cover;
	background-attachment:fixed;
	height:100vh;
}
.nav-lists{
	display:flex;
	font-size:.8rem;
}
.nav-list{
	color:white;
	text-decoration:none;
	padding:.9rem;
	font-weight:600;
}
.nav-list:hover{
	text-decoration:underline;
	color:white;
}   
.exLink{
	display:none;
}
.img-content h1{
	margin-top:10rem;
}
.nav-lists{
	font-size:1rem;
}
.nav-head h1{
	font-size:2rem;
}
   /* nav end */
   /* about start */
.about{
	display:flex;
}

}

