.footerHead{
	text-align:center;
}
.footerHead h1{
	color:blue;
	font-size:2rem;
}
.footerHead h5{
	color:gray;
}
.contact{
	display:flex;
	flex-direction:row;
	margin-left:2rem;
	margin-top:1.5rem;
}
.icon{
	color:blue;
	font-size:2rem;
}
.contact2{
	margin-left:10rem;
}
.main{
	display:flex;
	flex-direction:row;
	margin-left:7rem;
}
.form{
	float:right;
	width:50%;
	margin-left:9rem;
	margin-top:3rem;
}
.button{
	width:10rem;
	background-color:blue;
	color:white;
	padding:.5rem;
	border-color:blue;
}
.box1{
	padding:1.25rem;
	border-radius:.18rem;
	width:35%;
}
.box2{
	padding:1.4rem;
	width:78%;
	border-radius:.18rem;
}
.box3{
	padding:3.1rem;
	width:70%;
	border-radius:.18rem;
}
.box4{
	background-color:#333333;
	text-decoration:none;
	margin:2rem;
	padding:.75rem;
	justify-content:center;
	margin-left:11.2rem;
	color:white;
	background-color:blue;
	font-size:1rem;
	border-radius:5rem;
} 